/*General*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/*General*/
/*Navbar*/
.navbar-brand{
    color: black!important;
    font-weight:700;
    font-size:30px;
    
}
.navbar-nav .nav-link {
    color:black; 
    font-size:18px;
    font-weight: 500;
}
.nav-link active{
    color: #E03A3C;
}

.navbar-nav .nav-link:hover {
    color: #E03A3C !important;
}
.nav-item a:hover{
    color: #E03A3C;
}

.bg-white{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 24px;
}
.start:hover{
    background-color:black;
    color:grey;
    border-color:grey;
}
.start{
   background-color:#E03A3C;
   color:white;
   border-color:#E03A3C;
}
.navbar{
   position:fixed;
}
.btn-start:hover{
    color: black !important;
}
/*Navbar*/
/*herosection*/
#hero{
    width: 100%;
    height: 100vh;
    background: url(hero-bg.jpg);
    background-size: cover;
    position: relative;
    padding-top: 82px;
}
#hero h1{
        margin: 0;
        font-size: 48px;
        font-weight: 700;
        color: #fff;
}
#hero h2{
    color: #fff;
    margin: 10px 0 0 0;
    font-size: 24px;
}
.row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));

}
.btn-start {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 4px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #E03A3C;
    border: 2px solid #E03A3C;
    
}
/*herosection*/
/*clientsection*/

.client{
    margin-top: 70px;
}
.client-card{
    background-color: white;
    /* color: b; */
    width: 45%;
    padding: 20px 20px 60px 20px;
    border-radius: 8px;
    opacity: 0.8;
    transition: filter 0.3s ease;
    filter: grayscale(100);
}
.client-card:hover{
    filter: grayscale(0);
}
.owl-dots span{
    background-color: white !important;
    border:1px solid #dc3545;
}

.owl-dots .active span{
    background-color: #dc3545!important;
}
/*clientsection*/
/*aboutsection*/

.abt-btn{
    text-decoration: none;
    color: white;
    font-size: 15px;
    background: transparent;
    border: 2px #dc3545 solid ;
    border-radius: 50px ;
    padding: 8px 30px 9px 30px;
}
.abt-btn:hover{
    background-color: #dc3545;
    color: #fff;
}
.about-sec{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    padding: 50px 0;
    position: relative;

}
.about-sec::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color:#1b1b1b;
    transform: skewY(-3deg);
    z-index: -1;
    /* color: white; */
   

}
.ch{
    font-size: 32px;
    font-weight: 600;
}
.chh{
    font-size: 16px;
    margin-top: 30px;
}

.icon{
    justify-content: center!important;
}
.icon-items i{
    font-size: 33px;
    color: #dc3545;

}
.h{
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
}
.pa{
    font-size: 14px;
    color: #777;
}
/* .abt{
    width: 100%;
} */

/*aboutsection*/
/*countsection*/
.fa-face-smile{
    color: #E03A3C;
    font-size: 24px;
    border-radius: 50px;
    border: 2px solid #fff;
    display: inline-flex;
}
.fa-file-lines{
    color: #E03A3C;
    font-size: 24px;
    border-radius: 50px;
    border: 2px solid #fff;
    display: inline-flex;
}
.fa-headset{
    color: #E03A3C;
    font-size: 24px;
    border-radius: 50px;
    border: 2px solid #fff;
    display: inline-flex;
}
.fa-people-roof{
    color: #E03A3C;
    font-size: 24px;
    border-radius: 50px;
    border: 2px solid #fff;
    display: inline-flex;
}
.count-box h2{
    font-size: 36px;
    font-weight: 700;
}
.count-box{
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}
.count-box i{
    position: absolute;
    width: 54px;
    height: 54px;
    top: -27px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    background: #fff;
    color: #e03a3c;
    border-radius: 50px;
    border: 2px solid #fff;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/*countsection*/
/*tabsection*/
.tab-sec {
    padding: 60px 0;
    font-family: "Open Sans", sans-serif;
}

.tab .nav {
    border: 0;
}

.tab .nav-link {
    border: 1px solid #ccc;
    color: #000;
    display: flex;
}
.tab .nav-item .nav-link:active{
    background-color:#dc3545;
    color: #fff !important;;
}
.tab .nav-link.active{
    background: #e03a3c;
    color: #fff !important;
    border-color: #e03a3c;
}
.tab .nav-link:hover {
    color: #dc3545;
}

.tab .nav-item .nav-link {
    color: #222;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #cccccc59;
    padding: 20px;
    height: 100%;
}

.col-3 {
    width: 25%;
    flex: 0 0 auto!important;
    flex-wrap: wrap;
}

.th {
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
}

.tab ul {
    list-style: none;
}

.fa-location-dot,
.fa-child-dress,
.fa-sun,
.fa-house {
    font-size: 42px;
}

@media (max-width: 991.98px) {
    /* Medium screens and below */
    .tabs .nav-link {
        font-size: 0; /* Hide text on medium screens */
    }

    .tab .nav-link i {
        margin-right: 0; /* Remove margin for icons */
    }

    .tab .nav-item .nav-link {
        padding: 20px 10px; /* Adjust padding for icons only */
    }

    .th {
        display: none; /* Hide text on medium screens */
    }
}

@media (min-width: 992px) {
    /* Large screens and above */
    .tab .nav-link {
        font-size: initial; /* Restore font size for text */
    }

    .tab .nav-link i {
        margin-right: 10px; /* Add margin for icons */
    }

    .tab .nav-item .nav-link {
        padding: 20px; /* Restore padding for both icons and text */
    }
    .tab .nav-item .nav-link:active {
        color: #fff!important;
    }

    .th {
        display: inline-block; /* Display text on large screens */
    }
}
.tc{
    font-weight: bold;
}
.tab-con{
    display: flex!important;
    flex-wrap: wrap;
}
.fa-sun:hover{
    color: #E03A3C;

}
.fa-location-dot:hover{
    color: #E03A3C;
}
.fa-child-dress:hover{
    color: #E03A3C;
}
.fa-house:hover{
    color: #E03A3C;
}
.th:hover{
    color: #E03A3C;

}
.nav-item:hover{
    color: #E03A3C;
}
/*tabsection*/
/*servicesection*/

.service-sec{
    color: #fff;
    font-family: "Open Sans", sans-serif;
    position: relative;
    padding: 50px 0;

}
.service-title{
    color: #fff;
}
.service-sec::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color:#1b1b1b;
    transform: skewY(-3deg);
    z-index: -1;
}
.service-items{
    justify-content: space-between;
    background-color: #252525;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    
}
.service-items:hover{
    transition: 0.3s;
}
.service-items i{
    font-size: 34px;
    color: #dc3545;
    padding-right: 25px;
}
.sh{
    font-size: 20px;
}
.sp{
    margin-top: 20px;
    font-size: 15px;
    line-height: 23px;
}
.icon a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}
.icon a:hover{
    text-decoration: underline;
    transition: 0.3s;
}


/*servicesection*/
/*portfoliosection*/
.justify-content-center{
    justify-content: center!important;
}
.d-flex{
    display: flex!important;
}
.filters li{
    cursor: pointer;
    display: inline-block;
    padding: 8px 15px 10px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.portfolio-sec{
    padding:50px 0;
     font-family: "Open Sans", sans-serif;
}

.nav-item-1 a{
  margin:20px 0;
  color:#000;
}
.nav-item-1 a:hover{
   color: #fff!important;;
   background-color:#dc3545;
}
.folio-items{
  position:relative;
  overflow:hidden;
  transition: all  ease 0.5s;
}

.folio-items img{
    transition: all  ease 0.5s;
}
.mirror{
position: absolute;
opacity: 0;
top:0;
padding: 0 20px 35px;
transition: all 0.5s ease;
width:100%;
height:100%;
display:flex;
align-items:flex-end;
}

.foliobox1 h2{
    color:#fff;
font-size: 23px;
font-family: "Raleway ", sans-serif;
}
.foliobox1 p{
  color:rgb(245 243 243 / 49%);
font-size: 16px;
}
.foliobox-icon{
position: absolute;
opacity: 1;
bottom:15px;
}
.foliobox-icon a{
   color:rgb(245 243 243 / 49%);
  font-size:20px;
  padding-right:13px;
} 

.foliobox-icon i:hover{
    color:#fff;
}
.folio-items:hover .mirror{
    background-color:#21252982 ;
    opacity:1;
}
/*portfoliosection*/
/*testimonialsection*/
.testimonals{
    background-color:#f9f9fa;
    padding: 4px 0;
}

.wh-card{
    background-color: white;
    padding: 20px 20px 60px 20px;
    border-radius: 8px;
}
.service-para{
   text-align: center;
}
.align p{
   color: black;
}
.prof img{
    border-radius:50%;
    width: 80px!important;
    border:4px solid white;
}
.prof{
    margin-top: -40px;
    margin-left:30px;
}
.text-para{
    color:#5f687b;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
}
.textpara1{
    color:#5f687b;
    
}
.textpara1a{
    color: #898e98;
}
.owl-dots span{
   background-color:#f9f9fa!important;
   border: 1px solid #E03A3C;
   cursor: pointer;
}
.section{
    padding: 60px 0;
    overflow: hidden;
    position: relative;
}
.sec-title h2{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;

}
/*testimonialsection*/
/*pricingsection*/
.pricing-mt-5{
    text-align: center;
    position: relative;
    padding: 60px 0;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}
.sect-title{
    color: #fff;
}
.pricing-mt-5::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left:0;
    top:0;
    background-color: #1b1b1b;
    transform: skewY(-3deg);
    z-index: -1;
}
.card-body-price{
    background-color:rgb(43, 43, 43) ;
    border-radius: 10px;
}
.card-body-price h3{
    font-size: 20px;
    padding: 25px 0;
}
.card-body-price h2{
    font-size: 14px;
    color: #fff;
}
.card-body-price h2 span{
    font-size: 40px;
    color: #fff;
}
.card-body-price sup{
    vertical-align:17px;
    font-size: 20px;
    font-weight: 700;
}
.card-body-price del{
    color: #777;
}

.card-body-price p{
    line-height: 25px;
    font-size: 14px;
    color: white;
}
.price-btn{
    padding: 30px 0;
}
.price-btn a{
    text-decoration: none;
}
.p-btn{
    font-size: 14px;
    color: #fff;
    border: 2px solid grey;
}
.p-btn1{
    font-size: 14px;
    color: #fff;
    border: 2px solid pink;
}
.p-btn:hover{
    background-color: transparent;
    border: 2px solid #fff;
}
.p-btn1:hover{
    background-color: transparent;
    border: 2px solid #fff;
}
.price-clr{
    background-color: #dc3545;
    border-radius: 10px;
}
.price-clr del{
    color:pink;
}
.pt-2{
    padding-top: 0!important;
}
.card{
    border:none !important;
    border-radius: 15px !important;
}
/*pricingsection*/
/*faqsection*/
.faq-sec{
    padding:50px 0;
}
.faq-sec .faq-title{
   position:relative;
}
 
.accordion-item h5{
  font-size:17px;
}
.accordion-item p{
  font-size:18px;
   margin-left: 18px;
}

.accordion-button:hover{
  color:#dc3545;
  border:none;
}

.accordion-button:not(.collapsed){
  color:#dc3545;
  background-color:#fff;
  border:0;
}
.accordion-button:focus{
  box-shadow:0 0 0 0.25rem #fff;
}
/*faqsection*/
/*teamsection*/
.team-sec{
    font-family: 'Raleway', sans-serif;
    color:#fff;
    position:relative;
     padding:70px 0;
}
.team-sec .team-title{
   color:#fff;
}
.team-sec:after{
    content:"";
    position:absolute;
   height:100%;
   width:100%;
   left:0;
   top:0;
    background-color:#1b1b1b;
    transform:skewY(-3deg);
    z-index:-1;
}

.team-items h1{
   color:#000;
   font-size:20px;
   font-weight:600;
}
.team-items p{
   color:#777;
   font-size:15px;
}
.team-items.card{
   position:relative;
}
.name-icon{
     opacity:0;
     font-size:23px;
     left:0;
     width:100%;
     padding:20px 0px;
    bottom:100px;
    position:absolute;
   text-align:center;
 transform:translateY(-20px);
 transition:all 0.5s  ease;
}
.team-items:hover .name-icon{
     opacity:1;
      transform:translateY(0);
 }
 .name-icon i{
     color:#fff;
      background-color:#dc3545;
      border-radius:50%;
      line-height: 40px;
     width: 40px;
     height: 40px;
 }
 .name-icon i:hover{
     background-color:#000;
 }
 .card-body h1{
     font-size:17px;
 }
 .card-body p{
     font-size:14px;
 }
/*teamsection*/
/*contactsection*/
.contact-sec{
    padding: 50px 0;
}
.contact-info{
    color: #777;
    text-align: center;
    padding: 15px 0;
    box-shadow:0 0 30px #e9e2e2e3;
    background-color: #fff;
}
.contact-info i{
    color: #dc3545;
    margin-bottom: 20px;
    font-size: 30px;
    border: dotted 2px pink;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
}
.contact-form{
    padding: 30px;
    background-color: #fff;
	box-shadow: 0 0 30px #e9e2e2c7;
}
.form input{
    margin-bottom: 20px;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 4px;
    border: solid 1px rgba(166, 164, 164, 0.37);
}
.form textarea{
    padding: 8px 12px;
    border-radius: 5px;
    border:solid 1px rgba(168, 166, 166, 0.37);
}
.form-btn a{
    font-size:16px;
	text-decoration:none;
    background-color: #E03A3C;
    border: 0;
    padding: 10px 32px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
    padding-bottom: 20px;
    text-align: center!important;
}
.form-btn .f-btn:hover{
    color: #fff;
}
/*contactsection*/
/*footer*/
.footer-sec{
    background-color: #313030;
    padding: 40px 0;
    font-family: "Open Sans", sans-serif;
    color: #fff;
}
.footbase h2{
    font-size: 25px;
    font-weight: 600;
}
.footbase p{
    font-size:13px;
	font-family: 'Raleway', sans-serif;
}
.footbase h6{
    font-family: 'Raleway', sans-serif;
}
.footbase span{
    color: #dc3545;
}
.footbase1 a{
    color: #fff;
    text-decoration: none;
}
.footbase1 i{
    padding: 0 9px;
    color: #fff;
}
.footbase1 h6{
    font-size:17px;
    font-weight:600;
	position:relative;
	padding-bottom:15px;
}
.footbase1 h6::after{
    position: absolute;
	display:block;
    content: "";
    width: 30px;
    border-top: 2px solid  #dc3545;
    left: 0;
    bottom:0;
	margin-top:5px;
}
.footbase1 p{
    color: #777;
    margin-top: 10px;
}
.footbase1 p:hover{
    color: #fff;
}
.footbase1 .jo{
    color: #fff;
}
.os{
    
	border-radius:9px;
	background: #fff;
	padding:5px 119px 5px 15px;	
	position:relative;
	overflow:hidden;
}
.sub{
    position: absolute;
	top:0;
	right:0;
	border-radius:5px;
    background-color: #dc3545;
    text-align: center;
    font-size: 16px;
    color: #fff;
    height: 100%;
    border:0;
    padding: 0px 22px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
}
.form-control1{
    width:100%;
	color:#999;
	font-size:16px;
	padding:2px 0px;
}
.os input{
    border: 0;
}
.sub:hover{
    background-color: #e03a3c;
}
.sub:focus{
    border-color: #e03a3c;
}
/*footer*/
/*lastsection*/
.last-sec{
    font-family: "Open Sans", sans-serif;
	padding:40px 0;
	background-color:#111111;
	color:#fff;
}
.lastrow{
    justify-content: space-between;
    align-items: center;
}
.last-1 a{
    color: #dc3545;
	font-size:17px;
	text-decoration:none;
}
.last-2{
    text-align:center;
}
.last-2 i{
    color: #fff;
    font-size: 19px;
    width: 40px;
    height: 40px;
    border: solid 1px #111111;
    background-color:#222222;
	border-radius:7px;
    margin-right: 5px;
    transition: 0.3s;
	line-height:40px;
}
.last-2 i:hover{
    background-color: #dc3545;
}
/*lastsection*/


